<div class="project">
  <div class="left">
    <%= link_to image_tag('Button_ArrowLeft.png'), project_path(@prev_id), class: 'arrow prev' %>
    <%= link_to image_tag('Button_ArrowRight.png'), project_path(@next_id), class: 'arrow next' %>
    <h1><%= @project.name %></h1>
    <h3><%= @project.company %></h3>
    <h2>Summary</h2>
    <% if @project.summary.strip.length > 0 %>
      <div class="summary fr-view">
        <%= @project.summary.html_safe %>
      </div>
    <% end %>
    <% if @project.role.strip.length > 0 %>
      <h2>My Role</h2>
      <div class="role fr-view">
        <%= @project.role.html_safe %>
      </div>
    <% end %>
    <% if @project.media.strip.length > 0 %>
      <h2>Media</h2>
      <div class="media fr-view">
        <%= @project.media.html_safe %>
      </div>
    <% end %>
  </div>
  <div class="right">
    <% if @project.images.where(feature: false).any? || @project.video_id %>
      <% imageToCheck = @project.images.where(feature: false).order(:order).first %>
      <div class="gallery-wrapper" style="max-width:<%= imageToCheck && (imageToCheck.width < imageToCheck.height) ? "50%" : "100%" %>">
        <div class="gallery">
          <% if @project.video_id.length > 0 %>
            <div>
              <div class="video-wrapper">
                <iframe src="https://youtube.com/embed/<%= @project.video_id %>?autoplay=1&modestbranding=1&mute=1" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          <% end %>
          <% @project.images.where(feature: false).order(:order).each do |image| %>
            <div><img src="<%= image.file_url %>" /></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
