<div class="header">
  <%= image_tag 'Profile.png', class: 'profile' %>
  <div class="menu">
    <%= active_link_to 'Projects', '/', active: :exact %>
    <%= active_link_to 'About', '/about', active: :exact %>
    <%= active_link_to 'Resume', '/resume', active: :exact %>
  </div>
  <% if request.fullpath === '/' %>
    <div class="available">Available for new opportunities!</div>
  <% end %>
  <div class="social">
    <%= link_to(image_tag('Button_Email.png'), 'mailto:matthewostil@gmail.com') %>
    <%= link_to(image_tag('Button_Twitter.png'), 'https://twitter.com/matthewostil') %>
    <%= link_to(image_tag('Button_LinkedIn.png'), 'https://www.linkedin.com/in/matthewostil/') %>
    <%= link_to(image_tag('Button_Youtube.png'), 'mailto:matthewostil@gmail.com') %>
  </div>
</div>
