<!DOCTYPE html>
<html>
  <head>
    <title>Matthew Ostil</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=400px, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "header" %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
